:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --secondary-text-color: rgba(255, 255, 255, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-background-color: #ffffff;
  --secondary-background-color: rgba(47, 48, 58, 1);
  --third-background-color: rgba(245, 244, 250, 1);
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.accent {
  color: var(--accent-color);
}

.container {
  margin-left: 215px;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid teal;
}

/* ЛОГОТИП */
.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.footer-logo {
  display: inline-block;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
/* Header */

.header {
  background-color: var(--secondary-text-color);
  margin-bottom: 0;
}

/*Navigation*/

.navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  margin-left: 215px;
  margin-right: 200px;
}
/* Site nav */
.link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* auth-nav */

.auth-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav-link {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.footer .auth-nav-link {
  color: var(--footer-link-color);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
}
.hero-title {
  margin-top: 170px;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  outline: 3px solid tomato;
}

/* Sections */

.section-title {
  color: var(--title-text-color);
  text-decoration: none;
}

.section-text {
  color: var(--primary-text-color);
  text-decoration: none;
}

/* Feacher-list */
.feachers-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.feachers-list .item {
  width: 270px;
}

.feachers-list .item + .item {
  margin-left: 30px;
}

.feachers-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
.feachers-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
/* Work-list */
.work-list .list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.work-list .list .item + .item {
  margin-left: 30px;
}

.work-list-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Section command */
.command-section {
  background-color: var(--third-background-color);
}

.command-section .list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.list .item + .item {
  margin-left: 30px;
}
.command-section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-list-title {
  margin-top: 30px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.command-list-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-section-image {
}
.command-section .item {
  background-color: var(--primary-background-color);
}

/* Button */

.button-primary {
  border: 1px solid transparent;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-secondary {
  border: 1px solid transparent;
  min-width: 103px;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--third-background-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button-primary-main {
  border: 1px solid transparent;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  margin-bottom: 106px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.button-primary-main:hover,
.button-primary-main:focus {
  color: var(--secondary-text-color);
  background-color: #118ce8;
}

/* footer */

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer {
  background-color: var(--secondary-background-color);
}
.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list {
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.address-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
}

/*Портфоліо*/
.benefits-list-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.benefits-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.benefits-list a {
  text-decoration: none;
  color: var(--title-text-color);
}
